* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: radial-gradient(100% 100% at 50% 0%, #1f2882 0%, #081852 100%);
  min-height: 100vh;
  max-width: 1920px;
  padding-top: 32px;
}

.header .birinchi {
  max-width: 1208px;
}

.header .birinchi .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .birinchi .nav .nav-brand {
  width: 290px;
  height: 52px;
}

.header .birinchi .nav .nav-brand img {
  width: 100%;
  height: 100%;
}

.header .birinchi .nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 327px;
  height: 24px;
}

.header .birinchi .nav .nav-menu .img-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .birinchi .nav .nav-menu .img-menu img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.header .birinchi .nav .nav-menu .img-menu p {
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

.header .birinchi .nav .nav-menu .img-menu:hover p {
  color: white;
}

.header .birinchi .nav .nav-menu .text-menu {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  font-weight: bold;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.1);
  height: 38px;
  width: 160px;
  border-radius: 8px;
  cursor: pointer;
}

.header .birinchi .nav .nav-menu .text-menu .my-bloor {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.header .birinchi .nav .nav-menu .text-menu .my-bloor p {
  margin: 0;
}

.header .birinchi .header-content .row .header-left {
  padding-top: 196px;
}

.header .birinchi .header-content .row .header-left p:nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.4;
  letter-spacing: 0.1em;
  font-family: "Manrope", sans-serif;
  margin-bottom: 0;
}

.header .birinchi .header-content .row .header-left p:nth-child(2) {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 66px;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.header .birinchi .header-content .row .header-left p:nth-child(3) {
  font-style: medium;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin-bottom: 58px;
}

.header .birinchi .header-content .row .header-left .left-btn button:nth-child(1) {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 58px;
  width: 263px;
  margin-right: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.header .birinchi .header-content .row .header-left .left-btn button:nth-child(2) {
  width: 191px;
  height: 58px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.header .birinchi .header-content .row .header-left .left-btn button:hover {
  background-color: #304fff;
}

.header .birinchi .header-content .row .header-right .mainheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 850px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .birinchi .header-content .row .header-right .mainheader .dashed-border {
  width: 500px;
  height: 500px;
  border: 5px dashed rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-top: 169px;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
  z-index: 0;
}

.header .birinchi .header-content .row .header-right .mainheader .antenna {
  mix-blend-mode: multiply;
  position: absolute;
  z-index: 1;
}

.header .birinchi .header-content .row .header-right .mainheader .rightimg {
  margin-left: auto;
  z-index: 5;
}

.header .birinchi .header-content .row .header-right .mainheader .leftimg {
  margin-right: auto;
  z-index: 5;
}

.main {
  max-width: 1920px;
}

.main .sect-one {
  width: 100%;
}

.main .sect-one .ikkinchi {
  max-width: 1208px;
}

.main .sect-one .ikkinchi nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .sect-one .ikkinchi nav .sect-one-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 188px;
  height: 120px;
}

.main .sect-two {
  background-color: #e5e5e5;
  padding-bottom: 64px;
  height: auto;
}

.main .sect-two .uchinchi {
  max-width: 1208px;
}

.main .sect-two .uchinchi .about {
  padding-top: 64px;
}

.main .sect-two .uchinchi .about p:nth-child(1) {
  margin-bottom: 0;
  color: #001d38;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  letter-spacing: -0.02em;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

.main .sect-two .uchinchi .about p:nth-child(2) {
  margin-top: 24px;
  margin-bottom: 0;
  text-align: center;
  width: 596px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #001d38;
  font-family: "Manrope", sans-serif;
}

.main .sect-two .uchinchi .about .about-img {
  margin-top: 36px;
  background: radial-gradient(100% 100% at 50% 0%, #1f2882 0%, #081852 100%);
  border-radius: 20px;
  padding: 24px;
  height: auto;
}

.main .sect-two .uchinchi .about .about-img .my-div {
  width: 100%;
}

.main .sect-two .uchinchi .about .about-img .my-div img {
  width: 100%;
  height: 100%;
}

.main .sect-two .uchinchi .about .about-content {
  margin-top: 64px;
}

.main .sect-two .uchinchi .about .about-content .row .about-left .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.main .sect-two .uchinchi .about .about-content .row .about-left .images .wave {
  position: absolute;
  width: 320px;
  height: 320px;
  z-index: 1;
  right: 0;
  top: 32px;
}

.main .sect-two .uchinchi .about .about-content .row .about-left .images .radio {
  margin-right: auto;
  width: 392px;
  height: 371px;
  top: 0;
  z-index: 2;
  position: absolute;
}

.main .sect-two .uchinchi .about .about-content .row .about-left .images .camera {
  margin: 0 auto;
  width: 290px;
  height: 240px;
  z-index: 3;
  bottom: 0;
  position: absolute;
  right: 88px;
}

.main .sect-two .uchinchi .about .about-content .row .about-right .right-content p:nth-child(1) {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #001d38;
  letter-spacing: -0.02em;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  text-align: left;
  margin-bottom: 24px;
  width: 100%;
}

.main .sect-two .uchinchi .about .about-content .row .about-right .right-content p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  color: #001d38;
  font-family: "Manrope", sans-serif;
  text-align: left;
  width: 100%;
  margin-bottom: 16px;
}

.main .sect-two .uchinchi .about .about-content .row .about-right .right-content p:nth-child(3) {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #001d38;
  font-family: "Manrope", sans-serif;
  width: 100%;
}

.main .sect-three {
  background-color: #fff;
  margin-top: 64px;
}

.main .sect-three .tortinchi {
  max-width: 1208px;
}

.main .sect-three .tortinchi .our-comfort .comfort-title {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  letter-spacing: -0.02em;
  color: #001d38;
  margin-bottom: 100px;
  font-family: "Manrope", sans-serif;
}

.main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  cursor: pointer;
}

.main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text img {
  width: 48px;
  height: 48px;
  margin-right: 34px;
  margin-bottom: 48px;
}

.main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text .name-servise {
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(0, 29, 56, 0.1);
}

.main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text .name-servise p:nth-child(1) {
  color: #001d38;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text .name-servise p:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #001d38;
  font-family: "Manrope", sans-serif;
  margin-bottom: 0;
  width: 76%;
}

.main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text:nth-child(1) {
  margin-top: 0;
}

.main .sect-three .tortinchi .our-comfort .row .comfort-right .comfort-img {
  width: 100%;
  height: 770px;
  padding-top: 10px;
}

.main .sect-three .tortinchi .our-comfort .row .comfort-right .comfort-img img {
  width: 100%;
  height: 100%;
}

.main .sect-thour {
  padding-bottom: 64px;
  background: radial-gradient(100% 100% at 50% 0%, #1f2882 0%, #081852 100%);
}

.main .sect-thour .beshinchi {
  max-width: 1208px;
}

.main .sect-thour .beshinchi .projects {
  padding-top: 64px;
  width: 100%;
}

.main .sect-thour .beshinchi .projects .projects-title {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(2) {
  background-image: url(./images/pr-bg-a.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 472px;
  border: none;
  background-size: 100% 100%;
  margin-bottom: 46px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(2) .parda {
  border-radius: 12px;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  background: linear-gradient(94.37deg, #001d38 3.55%, rgba(0, 29, 56, 0) 100%);
}

.main .sect-thour .beshinchi .projects .project:nth-child(2) .parda .project-name {
  width: 455px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(2) .parda .project-name p:nth-child(1) {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  font-family: "Manrope", sans-serif;
  width: 100%;
}

.main .sect-thour .beshinchi .projects .project:nth-child(2) .parda .project-name p:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Manrope", sans-serif;
  width: 100%;
  margin-bottom: 0;
}

.main .sect-thour .beshinchi .projects .project:nth-child(2) .parda .partner p:nth-child(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #ffffff;
  opacity: 0.4;
  margin-top: 16px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(3) {
  background-image: url(./images/pr-bg-a.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 472px;
  border: none;
  background-size: 100% 100%;
  margin-bottom: 46px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(3) .parda {
  border-radius: 12px;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  background: linear-gradient(94.37deg, #001d38 3.55%, rgba(0, 29, 56, 0) 100%);
}

.main .sect-thour .beshinchi .projects .project:nth-child(3) .parda .project-name {
  width: 455px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(3) .parda .project-name p:nth-child(1) {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  font-family: "Manrope", sans-serif;
  width: 100%;
}

.main .sect-thour .beshinchi .projects .project:nth-child(3) .parda .project-name p:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Manrope", sans-serif;
  width: 100%;
  margin-bottom: 0;
}

.main .sect-thour .beshinchi .projects .project:nth-child(3) .parda .partner p:nth-child(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #ffffff;
  opacity: 0.4;
  margin-top: 16px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(4) {
  background-image: url(./images/pr-bg-a.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 472px;
  border: none;
  background-size: 100% 100%;
  margin-bottom: 46px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(4) .parda {
  border-radius: 12px;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  background: linear-gradient(94.37deg, #001d38 3.55%, rgba(0, 29, 56, 0) 100%);
}

.main .sect-thour .beshinchi .projects .project:nth-child(4) .parda .project-name {
  width: 455px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(4) .parda .project-name p:nth-child(1) {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  font-family: "Manrope", sans-serif;
  width: 100%;
}

.main .sect-thour .beshinchi .projects .project:nth-child(4) .parda .project-name p:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Manrope", sans-serif;
  width: 100%;
  margin-bottom: 0;
}

.main .sect-thour .beshinchi .projects .project:nth-child(4) .parda .partner p:nth-child(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #ffffff;
  opacity: 0.4;
  margin-top: 16px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(5) {
  background-image: url(./images/pr-bg-a.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 472px;
  border: none;
  background-size: 100% 100%;
}

.main .sect-thour .beshinchi .projects .project:nth-child(5) .parda {
  border-radius: 12px;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  background: linear-gradient(94.37deg, #001d38 3.55%, rgba(0, 29, 56, 0) 100%);
}

.main .sect-thour .beshinchi .projects .project:nth-child(5) .parda .project-name {
  width: 455px;
}

.main .sect-thour .beshinchi .projects .project:nth-child(5) .parda .project-name p:nth-child(1) {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  font-family: "Manrope", sans-serif;
  width: 100%;
}

.main .sect-thour .beshinchi .projects .project:nth-child(5) .parda .project-name p:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Manrope", sans-serif;
  width: 100%;
  margin-bottom: 0;
}

.main .sect-thour .beshinchi .projects .project:nth-child(5) .parda .partner p:nth-child(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #ffffff;
  opacity: 0.4;
  margin-top: 16px;
}

footer {
  margin-top: 64px;
  padding-bottom: 24px;
}

footer .oltinchi {
  max-width: 1208px;
}

footer .oltinchi .footer-content {
  width: 100%;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 66px;
  letter-spacing: -0.02em;
  color: #001d38;
  margin-bottom: 64px;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl img {
  margin-right: 24px;
  width: 24px;
  height: 24px;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps p:nth-child(1) {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #001d38;
  letter-spacing: -0.02em;
  font-family: "Manrope", sans-serif;
  margin-bottom: 24px;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps .country {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #304fff;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  margin-bottom: 0;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps p:nth-child(3) {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  color: #001d38;
  margin-bottom: 16px;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps .zarb-country {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #304fff;
  font-family: "Manrope", sans-serif;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps p:nth-child(5) {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #001d38;
  font-family: "Manrope", sans-serif;
  margin-bottom: 0;
}

footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl:nth-child(2) {
  margin-bottom: 36px;
}

footer .oltinchi .footer-content .row .footer-right .karta {
  width: 100%;
  padding-top: 148px;
  height: 350px;
}

footer .oltinchi .footer-content .row .footer-right .karta img {
  width: 100%;
}

footer .oltinchi .razrabotka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}

footer .oltinchi .razrabotka .raz-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .oltinchi .razrabotka .raz-left .raz-firm {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 29, 56, 0.4);
  margin-right: 40px;
}

footer .oltinchi .razrabotka .raz-left .raz-web {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #001d38;
}

footer .oltinchi .razrabotka .raz-left .raz-web span img {
  width: 16px;
  height: 16px;
  margin-right: 11px;
}

footer .oltinchi .razrabotka .raz-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .oltinchi .razrabotka .raz-right a:nth-child(1) {
  margin-right: 36px;
}

footer .oltinchi .razrabotka .raz-right a:nth-child(1) img {
  width: 24px;
  height: 24px;
}

footer .oltinchi .razrabotka .raz-right a:nth-child(2) img {
  width: 24px;
  height: 24px;
}

@media (max-width: 500px) {
  .header {
    padding-top: 60px;
    padding-left: 9px;
    height: 812px;
  }
  .header .birinchi .nav {
    height: 40px;
  }
  .header .birinchi .nav .nav-brand {
    width: 215px;
    height: 36px;
  }
  .header .birinchi .nav .nav-menu {
    -webkit-transform: translateY(660px);
            transform: translateY(660px);
    z-index: 10;
  }
  .header .birinchi .nav .nav-menu .img-menu p {
    font-size: 14px;
  }
  .header .birinchi .nav .nav-menu .text-menu {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .header .birinchi .nav .nav-menu .text-menu .my-bloor {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
  .header .birinchi .nav .nav-menu .text-menu .my-bloor p {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .header .birinchi .header-content {
    height: 713px;
  }
  .header .birinchi .header-content .row {
    height: 100%;
    position: relative;
  }
  .header .birinchi .header-content .row .header-left {
    z-index: 3;
    padding-top: 36px;
  }
  .header .birinchi .header-content .row .header-left p:nth-child(1) {
    font-size: 12px;
    margin-bottom: 0;
    width: 100%;
  }
  .header .birinchi .header-content .row .header-left p:nth-child(2) {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
  }
  .header .birinchi .header-content .row .header-left p:nth-child(3) {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 36px;
  }
  .header .birinchi .header-content .row .header-left .left-btn button:nth-child(1) {
    margin-bottom: 24px;
    background: #304fff;
  }
  .header .birinchi .header-content .row .header-left .left-btn button:nth-child(2) {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(60px);
            backdrop-filter: blur(60px);
  }
  .header .birinchi .header-content .row .header-right {
    position: absolute;
    bottom: 0;
  }
  .header .birinchi .header-content .row .header-right .mainheader {
    mix-blend-mode: multiply;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 442px;
    width: 100%;
  }
  .header .birinchi .header-content .row .header-right .mainheader .dashed-border {
    display: none;
  }
  .header .birinchi .header-content .row .header-right .mainheader .rightimg {
    display: none;
  }
  .header .birinchi .header-content .row .header-right .mainheader .leftimg {
    display: none;
  }
  .header .birinchi .header-content .row .header-right .mainheader .antenna {
    width: 180px;
    height: 440px;
    mix-blend-mode: multiply;
    margin-left: 46px;
  }
  .main .sect-one .ikkinchi nav .sect-one-box {
    width: 125px;
    height: 80px;
  }
  .main .sect-one .ikkinchi nav .sect-one-box a img {
    width: 92px;
    height: 23px;
  }
  .main .sect-two {
    background: #e5e5e5;
    padding-bottom: 60px;
  }
  .main .sect-two .uchinchi .about {
    padding-top: 36px;
  }
  .main .sect-two .uchinchi .about p:nth-child(1) {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    width: 100%;
  }
  .main .sect-two .uchinchi .about p:nth-child(2) {
    margin-top: 16px;
    line-height: 24px;
    font-size: 14px;
    width: 100%;
    color: #001d38;
  }
  .main .sect-two .uchinchi .about .about-img {
    margin-top: 24px;
    padding: 8px;
    height: 200px;
  }
  .main .sect-two .uchinchi .about .about-img .my-div {
    height: 100%;
  }
  .main .sect-two .uchinchi .about .about-content {
    margin-top: 36px;
  }
  .main .sect-two .uchinchi .about .about-content .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .sect-two .uchinchi .about .about-content .row .about-left .images {
    width: 100%;
    height: 270px;
    position: relative;
    margin-top: 24px;
  }
  .main .sect-two .uchinchi .about .about-content .row .about-left .images .wave {
    width: 233px;
    height: 223px;
    position: absolute;
    top: 0;
  }
  .main .sect-two .uchinchi .about .about-content .row .about-left .images .radio {
    position: unset;
    width: 224px;
    height: 220px;
    position: absolute;
  }
  .main .sect-two .uchinchi .about .about-content .row .about-left .images .camera {
    position: unset;
    width: 193px;
    height: 180px;
    position: absolute;
    top: 120px;
  }
  .main .sect-two .uchinchi .about .about-content .row .about-right .right-content p:nth-child(1) {
    font-size: 18px;
    line-height: 28px;
    color: #001d38;
    letter-spacing: -0.02em;
    font-weight: 700;
  }
  .main .sect-two .uchinchi .about .about-content .row .about-right .right-content p:nth-child(2) {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 500;
    color: #001d38;
  }
  .main .sect-two .uchinchi .about .about-content .row .about-right .right-content p:nth-child(3) {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #001d38;
  }
  .main .sect-three {
    background: #e5e5e5;
    margin-top: 0;
  }
  .main .sect-three .tortinchi .our-comfort .comfort-title {
    display: none;
    width: 100%;
  }
  .main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content {
    padding-bottom: 36px;
  }
  .main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text {
    margin-top: 40px;
  }
  .main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text img {
    margin-right: 16px;
    margin-bottom: 50px;
  }
  .main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text .name-servise {
    padding-bottom: 24px;
    margin-bottom: 0;
  }
  .main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text .name-servise p:nth-child(1) {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #001d38;
  }
  .main .sect-three .tortinchi .our-comfort .row .comfort-left .comfort-content .comfort-text .name-servise p:nth-child(2) {
    font-size: 14px;
    line-height: 26px;
    color: #001d38;
    width: 100%;
    font-weight: 500;
    font-style: normal;
  }
  .main .sect-three .tortinchi .our-comfort .row .comfort-right {
    display: none;
  }
  .main .sect-thour {
    padding-bottom: 36px;
  }
  .main .sect-thour .beshinchi .projects {
    padding-top: 36px;
  }
  .main .sect-thour .beshinchi .projects .projects-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;
    width: 100%;
    margin-bottom: 36px;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(2) {
    margin-bottom: 34px;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(2) .parda .project-name {
    width: auto;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(2) .parda .project-name p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    width: 100%;
    margin-bottom: 16px;
    font-style: normal;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(2) .parda .project-name p:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.4);
    width: 100%;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(2) .parda .partner p:nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.4;
    letter-spacing: 0.1em;
    margin-bottom: 34px;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(3) {
    margin-bottom: 34px;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(3) .parda .project-name {
    width: auto;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(3) .parda .project-name p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    width: 100%;
    margin-bottom: 0;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(3) .parda .project-name p:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4);
    width: 100%;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(3) .parda .partner p:nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.4;
    letter-spacing: 0.1em;
    margin-bottom: 34px;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(4) {
    margin-bottom: 34px;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(4) .parda .project-name {
    width: auto;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(4) .parda .project-name p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    width: 100%;
    margin-bottom: 0;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(4) .parda .project-name p:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4);
    width: 100%;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(4) .parda .partner p:nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.4;
    letter-spacing: 0.1em;
    margin-bottom: 34px;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(5) {
    background-size: cover;
    background-position: center;
    border-radius: 14px;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(5) .parda .project-name {
    width: auto;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(5) .parda .project-name p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    width: 100%;
    margin-bottom: 0;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(5) .parda .project-name p:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4);
    width: 100%;
  }
  .main .sect-thour .beshinchi .projects .project:nth-child(5) .parda .partner p:nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.4;
    letter-spacing: 0.1em;
    margin-bottom: 34px;
  }
  footer {
    margin-top: 36px;
  }
  footer .oltinchi .footer-content .row .footer-left .footer-text .footer-title {
    color: #001d38;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    width: 100%;
    font-weight: 700;
  }
  footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl img {
    margin-right: 16px;
  }
  footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps p:nth-child(1) {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    margin-bottom: 16px;
    letter-spacing: -0.02em;
    color: #001d38;
  }
  footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps .country {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #304fff;
  }
  footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps p:nth-child(3) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 8px;
    width: 100%;
    color: #001d38;
  }
  footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl .paragraps .zarb-country {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  footer .oltinchi .footer-content .row .footer-left .footer-text .footer-fl:nth-child(2) {
    margin-bottom: 24px;
  }
  footer .oltinchi .footer-content .row .footer-right {
    display: none;
  }
  footer .oltinchi .razrabotka {
    margin-top: 64px;
  }
  footer .oltinchi .razrabotka .raz-left .raz-web {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */